stages:
  - build
  - deploy

build:
  stage: build
  tags:
    - docker
  image: openwrtorg/sdk
  script: tools/ci-build.sh
  artifacts:
    paths:
      - "*.ipk"
      - Packages
      - Packages.gz

pages:
  stage: deploy
  tags:
    - docker
  image: alpine:latest
  dependencies:
    - build
  script: tools/ci-pages.sh
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
